.wrapper {
    width: 100vw;
    margin: 0;
    padding-top: 180px;
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 0;
}  

.form {
    width: 480px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    text-align: center;
}    

.box {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}