.header {
    left: 2%;
    right: 2%;
    top: 40px;
    box-sizing: border-box;
    background: #1C1C21; 
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.nav__item {
    margin-right: 8px;
}

.nav__link {
    color: #8585AD;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.nav__link p {
    margin-left: 8px;
}

.nav__linkActive {
    color: #F2F2F3;
}

.login {
    cursor: pointer;
    /*color: #8585AD;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: unset;
    box-sizing: border-box;
}

.login span {
    margin-left: 8px;
}

.container {
    max-width: 1280px;
    margin: auto;
    box-sizing: border-box;
  }